<%- include('includes/header') %>
 <%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col" ></div>
  <div class="col-lg-8 mt-2 mb-2"  style="margin: 0;padding: 0;">
    <div class="signUp-form-container ">   
      <a class="small font-weight-bold" href="/viewSingleBatch/<%= editableData.batchId %>">&laquo; Back to batch details</a>
  
      <h4 class="bolder text-left">Edit your batch details</h4>
      <form action="/batch/<%=editableData.batchId%>/edit" method="POST" id="createBatch-form">
        <strong class="text-primary"> Batch related data</strong>
        <div class="row">
          <div class="form-group col-sm-6">
            <label for="stream" class="text-muted mb-1"><small>Select Stream</small></label>
            <select id="stream" class="form-control form-control-lg" name="stream" form="createBatch-form">
              <option value="<%=editableData.stream%>"><%=editableData.stream%></option>
              <option value="science">Science</option>
              <option value="arts">Arts</option>
              <option value="commerce">Commerce</option>
              <option value="others">Others</option>
            </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="subjects" class="text-muted mb-1"><small>Subject</small></label>
            <input name="subjects" value="<%=editableData.subjects%>" id="subjects" class="form-control form-control-lg" type="text" placeholder="Subject name" required autocomplete="off" />
          </div>
        </div>
        <div class="row">
        
        <div class="form-group col-sm-6">
          <label for="class" class="text-muted mb-1"><small>Select class</small></label>
          <select id="class" class="form-control form-control-lg" name="class" form="createBatch-form">
            <option value="<%=editableData.class%>">class-<%=editableData.class%></option>
            <option value="1st">Class 1</option>
            <option value="2nd">Class 2</option>
            <option value="3rd">Class 3</option>
            <option value="4th">Class 4</option>
            <option value="5th">Class 5</option>
            <option value="6th">Class 6</option>
            <option value="7th">Class 7</option>
            <option value="8th">Class 8</option>
            <option value="9th">Class 9</option>
            <option value="10th">Class 10</option>
            <option value="11th">Class 11</option>
            <option value="12th">Class 12</option>
            <option value="all">All</option>
          </select>
        </div>
        <div class="form-group col-sm-6">
          <label for="studentsQuentity" class="text-muted mb-1"><small>Total sits</small></label>
          <input name="studentsQuentity" value="<%=editableData.studentsQuentity%>" id="studentsQuentity" class="form-control form-control-lg" type="number" placeholder="Available sits." required autocomplete="off" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="days" class="text-muted mb-1"><small>Teaching Days/Day </small></label>
          <input name="days" value="<%=editableData.days%>" id="days" class="form-control form-control-lg" type="text" placeholder="Example: Saturday,Sunday" required autocomplete="off" />
        </div>
        <div class="form-group col-sm-6">
          <label for="classTime" class="text-muted mb-1"><small>Class Time</small></label>
          <input name="classTime" value="<%=editableData.classTime%>" id="classTime" class="form-control form-control-lg" type="text" placeholder="Example: 07:30am - 09:30am " required autocomplete="off" />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="session" class="text-muted mb-1"><small>Batch Session</small></label>
          <input name="session" value="<%=editableData.session%>" id="session" class="form-control form-control-lg" type="text" placeholder="Example: 2020-2021" required autocomplete="off" />
        </div>
        <div class="form-group col-sm-6">
          <label for="expirationDate" class="text-muted mb-1"><small>Batch expiration date</small></label>
          <input name="expirationDate" value="<%=editableData.expirationDate%>" id="expirationDate" class="form-control form-control-lg" type="date"  required autocomplete="off" />
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="batchMood-register" class="text-muted mb-1"><small>Select batch Mode</small></label>
        <select id="batchMood-register" class="form-control form-control-lg" name="batchMood" form="createBatch-form">
          <option value="<%=editableData.batchMood%>"><%=editableData.batchMood%></option>
          <option value="offline">Offline</option>
          <option value="online">Online</option>
        </select>
      </div>
        <h5><strong class="text-primary"><i class="fas fa-map-marker-alt"></i> Give proper address of the batch</strong></h5>
        <div id="address-part">
          <div class="form-group">
            <label for="districtPart" class="text-muted mb-1"><small>Select Your District</small></label>
            <select id="districtPart" class="form-control" name="district" form="createBatch-form">
              <option value="<%=editableData.address.district%>"><%=editableData.address.district%></option>
              <option value="">--Select your district--</option>
              <option value="Darjeeling">Darjeeling</option>
              <option value="Jalpaiguri">Jalpaiguri</option>
            </select>
          </div>

          <div class="form-group">
            <label for="policeStationPart" class="text-muted mb-1"><small>Select Police Station</small></label>
            <select id="policeStationPart" class="form-control" name="policeStation" form="createBatch-form">
              <option value="<%=editableData.address.policeStation%>"><%=editableData.address.policeStation%></option>
            </select>
          </div>

          <div class="form-group">
            <label for="postOfficePart" class="text-muted mb-1"><small>Select Post Office</small></label>
            <select id="postOfficePart" class="form-control" name="postOffice" form="createBatch-form">
              <option value="<%=editableData.address.postOffice%>"><%=editableData.address.postOffice%></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="address-register" class="text-muted mb-1"><small>Near By Place</small></label>
          <input name="nearBy" value="<%=editableData.nearBy%>" id="address-register" required class="form-control form-control-lg" type="text" placeholder="Exact location address." autocomplete="off" />
        </div>
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Submit data</button>
        </div>
      </form>
  </div>
  <div class="col" ></div>
</div>
<%- include('includes/footer') %>