<%- include('includes/header') %>

<%- include('includes/designs/profile-related-header') %>
<!-- page structure will be here -->

<div style="background-color: #fff;">
  <h4 class="bolder col"><strong>All Friends (<%=friends.length%>)</strong></h4>
  <%if(!friends.length){%>
    <%if(isVisitorsProfile){%>
      <div class="connection-container">
        <div class="btn btn-primary btn-block">You have no friend!</div>
      </div>
    <%}else{%>
      <div class="connection-container">
        <div class="btn btn-primary btn-block">No friend available!</div>
      </div>
    <%}%>
  <%}else{%>
    <%if(friends.length==1){%>
      <div class="col">
        <div class="connection-container">
          <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-<%=friends[0].username%>.jpg" alt="">
          <div class="name-container">
            <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/<%=friends[0].username%>"><%=friends[0].name%></a></strong>
            <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
          </div>
        </div>
      </div>
    <%}else{%>
      <%let middle=parseInt(friends.length/2)%>
      <div style="display: flex;    flex-wrap: wrap;">
        <div class="col-md-6">
          <%for(let i=0;i<middle;i++){%>
            <div class="connection-container">
              <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-<%=friends[i].username%>.jpg" alt="">
              <div class="name-container">
                <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/<%=friends[i].username%>"><%=friends[i].name%></a></strong>
                <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
              </div>
            </div>
          <%}%>
        </div>
        <div class="col-md-6" >
          <%for(let j=middle;j<friends.length;j++){%>
          <div class="connection-container">
            <img style="border-radius: 5px;" height="70" width="70" src="/images/profile/profile-<%=friends[j].username%>.jpg" alt="">
            <div class="name-container">
              <strong class="d-block ml-2" style="width: 100%;"><a href="/profile/<%=friends[j].username%>"><%=friends[j].name%></a></strong>
              <strong class="d-block float-right"><i class="fas fa-ellipsis-h"></i></strong>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    <%}%>
  <%}%>
</div>

<!-- #################################### -->
<%- include('includes/designs/profile-related-footer') %>

<%- include('includes/footer') %>
