<%- include('includes/header') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <h4 class="bolder mt-3"><%=tuitors.length%> <%=tuitors.length<2?"result":"results"%> from "<%=area%>"</h4> 
    <h5 style="color: #0f7c90;font-weight: 600;">Get a good teacher, build a great career!!</h5>
    <hr>
    <div class="row">
      <div class="col-md-3" >
        <div class="mb-2">
          <h5 class="bolder text-primary">Suggessions :</h5>
        </div>
        <a href="/search-batch-form">
          <div class="btn btn-success btn-block mb-1"><i class="fas fa-search"></i> Search for tuition-batch </div>
        </a>
        <div class="notVisibleOnCollapse mb-3">
          <div class="mb-2">
            <strong class="bolder text-primary">Search from near by areas :</strong>
          </div>
          <div class="btn btn-outline-secondary btn-block">Siliguri</div>
          <div class="btn btn-outline-secondary btn-block">Jalpaiguri</div>
          <div class="btn btn-outline-secondary btn-block">Darjeeling</div>
          <div class="btn btn-outline-secondary btn-block">Maldha</div>
        </div>
        <div class="visibleItemsOnCollapse">
          <div id="accordion">
            <div class="card">
              <div class="" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-secondary btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Search from near by areas <i class="fas fa-caret-square-down"></i>
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="background-color: #f0f2f5;">
                  <div class="btn btn-outline-secondary btn-block">Siliguri</div>
                  <div class="btn btn-outline-secondary btn-block">Jalpaiguri</div>
                  <div class="btn btn-outline-secondary btn-block">Darjeeling</div>
                  <div class="btn btn-outline-secondary btn-block">Maldha</div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-md-9 mb-2" >
        <h5><strong class=" bolder text-primary">Results :</strong></h5>
        <%if(!tuitors.length){%>
          <div class="path text-center" style="padding: 1rem;">
            <div class="col" style="width: 100%; color: #fff;">
                <div>
                  <strong class="text-center">No home-tutor found according to your searched area!!</strong>
                </div>
            </div>
          </div>
        <%}%>
        <% tuitors.forEach(function(tuitor){ %>
        <div class="mt-2" style="display: flex;border-bottom: 1px solid gray;border-radius: 5px;background-color: #fff;">
          <div class="text-center" style="position: relative;">
            <img class="search-batch-image"  src="/images/profile/profile-<%=tuitor.username%>.jpg" alt="">
            <div class="batch-no notVisibleOnCollapse">Home-tuition</div>
          </div>
            <div>
                <div class="ml-2" style="color: #3c3b37;font-weight: 400;">
                  <span class="d-block" style="color: #3c3b37;font-weight: 700;"><strong>Teacher's name : </strong> <%=tuitor.teacherName%></span>
                  <div class="d-block">
                    <span class=""><strong>Stream : </strong> <%=tuitor.stream%> ,</span>
                    <span class=""><strong>Subject : </strong> <%=tuitor.subjectName%> </span>
                    <span ><strong>Class : </strong> <%=tuitor.class%> </span>
                  </div>
                  <span class="d-block"><strong>Address : </strong> <%=tuitor.address.district%>, <%=tuitor.address.policeStation%>, <%=tuitor.address.postOffice%>. </span>
                </div>
                <div class="ml-2" >
                  <a href="/homeTuitionAnnouncement/<%=tuitor._id%>/details">
                    <div class="btn btn-info btn-sm mr-1">Announcement Details</div>
                  </a>
                </div>
            </div>
        </div>
        <%})%>
        
      </div>
    </div>
  </div>
  <div class="col-lg-1"></div>
</div>


<%- include('includes/footer') %>







