<%- include('includes/header') %> <%- include('includes/flash') %>


<div style="display: flex;flex-wrap: wrap;">
  <%- include('includes/designs/desktop-screen-left-part') %>
  <div class="col-lg-6 pt-2 "  >
  <%- include('includes/designs/notes-structure') %>
  </div>
  <%- include('includes/designs/desktop-screen-right-part') %>
</div>




<%- include('includes/footer') %>

