<%- include('includes/header') %> <%- include('includes/flash') %>

<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg"></div>
  <div class="col-lg-7" >

    
  <h5 class="bolder text-prmary"><strong>Batch details</strong></h5>
  <% let presentStudents=batch.admittedStudents.length %>
    <%let batchStudent=false%>
      <%batch.admittedStudents.forEach((student)=>{%>
        <%if(student.username==user.username){%>
          <%batchStudent=true%>
        <%}%>
      <%})%>
      <%let applied=false%>
      <%batch.appliedStudents.forEach((student)=>{%>
        <%if(student.username==user.username){%>
          <%applied=true%>
        <%}%>
      <%})%>
  <div class="single-batch-container">
    <div class="single-batch-data pb-4">
      <div style="position: relative;">
        <img class="single-batch-image"  src="/images/cover/cover-<%=batch.username%>.jpg" alt="">
        <div class="batch-no text-capitalize"><%=batch.batchMood%> batch</div>
      </div>
      <div class="bolder text-center text-primary" style="padding-top: 3px;"><strong>Teacher :</strong> <%=batch.teacherName%></div>
      <div class="text-center">
        <a href="/profile/<%=batch.username%>">
          <div class="btn btn-sm  btn-primary ">View teacher's profile</div>
        </a>
        <%if(batchStudent || batchOwner){%>
          <a href="/group-chat/<%=batch._id%>">
            <div class="btn btn-sm  btn-success "><i class="fas fa-comment"></i> Group chatting</div>
          </a>
          <%if(batchOwner){%>
          <a href="/batch/<%=batch._id%>/edit">
            <div class="btn btn-sm  btn-info "><i class="fas fa-edit"></i> Edit</div>
          </a>
          <%}%>
        <%}%>
      </div>
      
      <strong class="text-primary ml-2">Batch Details:</strong>
      <div class="row m-2" >
        <div class="col-md-6">
          <span class="d-block"><strong>Days : </strong> <%= batch.days %></span>
          <span class="d-block"><strong>Time : </strong> <%= batch.classTime %></span>
          <span class="d-block"><strong>Address : </strong> <%= batch.address.district %>, <%= batch.address.policeStation %>, <%= batch.address.postOffice %>. Near by-<%= batch.nearBy %></span>
        </div>
        <div class="col-md-6">
          <span class="d-block"><strong>Stream : </strong> <%= batch.stream %></span>
          <span class="d-block"><strong>Subject : </strong> <%= batch.subjects%></span>
          <span class="d-block"><strong>Class : </strong> <%= batch.class %></span>
          <span class="d-block"><strong>Session : </strong> <%= batch.session %></span>
        </div>
      </div>
      <strong class="text-primary ml-2">Vacancy details:</strong>
       <div class="row m-2" >
        <div class="col-md-6">
           <span class="d-block"><strong>Total Sits : </strong> <%= batch.studentsQuentity %></span>
          <span class="d-block"><strong>Total Present Students : </strong> <%= batch.admittedStudents.length %></span>
          <span class="d-block"><strong>Sits Available : </strong> <%= batch.studentsQuentity-presentStudents %></span>
        </div>
      <%if(batch.batchMood=="online" && (batchStudent || batchOwner)){%>
        <div class="col-md-6" style="background-color:#f0f2f5; border-radius:5px">
          <span class="d-block text-center bolder"><strong>Online Class Details</strong></span>
          <span class="d-block"><strong>Class Date : </strong><%=batch.onlineClassDetails.classDate%> </span>
          <span class="d-block"><strong>Class Time: </strong> <%=batch.onlineClassDetails.classTime%></span>
          <div class="alert alert-danger  mb-0"><strong>Class Link :</strong><%=batch.onlineClassDetails.classLink%></div>
          <a href="https://<%=batch.onlineClassDetails.classLink%>" target="blank">
             <span class="btn btn-block btn-warning mb-1">Go to the class <i class="fas fa-arrow-right"></i></span>
          </a>
          <%if(batchOwner){%>
          <div class="text-center">
            <span class="btn btn-sm btn-block btn-info" data-toggle="modal" data-target="#onlineDataEdit"><i class="fas fa-edit"></i> Update next class details</span>
          </div>
              <!-- Modal -->
              <div class="modal fade" id="onlineDataEdit" tabindex="-1" role="dialog" aria-labelledby="onlineDataEditTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Update next class details</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/onlineBatch/<%=batch._id%>/update" method="post">
                        <div class="form-group" style="text-align: left;">
                          <label for="classDate" class="text-muted" ><small>Class Date </small></label>
                          <input name="onlineClassDate" value="<%=batch.onlineClassDetails.classDate%>"  id="classDate" class="form-control form-control-sm " type="date" placeholder="status" autocomplete="off" />
                        </div>
                        <div class="form-group" style="text-align: left;">
                          <label for="OnlineClassTime" class="text-muted" ><small>Class Time </small></label>
                          <input name="onlineClassTime" value="<%=batch.onlineClassDetails.classTime%>"  id="OnlineClassTime" class="form-control form-control-sm " type="text" placeholder="Class time" autocomplete="off" />
                        </div>
                        <div class="form-group" style="text-align: left;">
                          <label for="classLink" class="text-muted" ><small>Class room link </small></label>
                          <input name="onlineClassLink" value="<%=batch.onlineClassDetails.classLink%>"  id="classLink" class="form-control form-control-sm " type="text" placeholder="Paste class link (Google meet)" autocomplete="off" />
                        </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <div style="text-align: left;">
                          <button class="btn btn-success btn-sm ">Submit</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          <%}%>
        </div>
      <%}%>
      </div>
     
      <hr>
      
      <%if(!batchOwner && !batchStudent && (user.accountType!="teacher")){%>
        <%if(applied){%>
          <div class="text-center p-2">
              <button class="btn btn-lg btn-warning btn-block">Request accepted,wait for response.</button>
          </div>
        <%}else{%>
          <div class="text-center p-2">
            <form action="/requestForAdmission/<%=batch._id%>" method="post">
              <input type="hidden" name="_csrf" value="<%=csrfToken%>">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sent request for admission <i class="fas fa-arrow-right"></i></button>
            </form>
          </div>
        <%}%>
        <hr>
      <%}%>
      <%if(batchOwner){%>
        <p><h5 class="bolder text-primary ml-2">Student requests:</h5></p>
        <%if(!batch.appliedStudents.length){%>
          <span class="pt-2">
            <p class="btn btn-primary btn-block">There is no request panding.</p>
          </span>
        <%}%>
        <%batch.appliedStudents.forEach((student)=>{%>
        <div class="ml-2 mr-2 mb-1">
          <div class="student-room-container" style="display: flex;width: 100%;">
            <div class="mr-2" >
              <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="/images/profile/profile-<%=student.username%>.jpg" alt="">
            </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <strong class="d-block"><%=student.name%></strong>
                    <span class="d-block">Requested on <%=student.requestedOn%></span>
                  </div>
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    <a href="/profile/<%=student.username%>">
                      <div class="btn btn-primary btn-sm mr-1">View profile</div>
                    </a>
                    <form class="d-inline-block" action="/deleteRequest/<%=batch._id%>/batch" method="POST">
                      <input type="hidden" name="studentUsername" value="<%=student.username%>" />
                      <input type="hidden" name="studentName" value="<%=student.name%>" />
                      <input type="hidden" name="requestedOn" value="<%=student.requestedOn%>" />
                      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                      <button type="submit" class="btn btn-danger btn-sm mr-1">Delete</button>
                    </form>
                    <form class="d-inline-block" action="/acceptRequest/<%=batch._id%>/batch" method="POST">
                      <input type="hidden" name="studentUsername" value="<%=student.username%>" />
                      <input type="hidden" name="studentName" value="<%=student.name%>" />
                      <input type="hidden" name="requestedOn" value="<%=student.requestedOn%>" />
                      <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    </form>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <%})%>
        <hr>
      <%}%>
      
      <%if(batchOwner || batchStudent){%>
        <p><h5 class="bolder text-primary ml-2">Batch Students:</h5></p>
        <%if(!batch.admittedStudents.length){%>
          <span class="m-2">
            <p class="btn btn-primary btn-block">There is no student till now.</p>
          </span>
        <%}%>
        <%batch.admittedStudents.forEach((student)=>{%>
        <div class="ml-2 mr-2">
          <div class="student-room-container" style="display: flex;width: 100%;">
            <div class="mr-2" >
              <img class="avatar-small" style="top:2px ;margin-left: 0rem;margin-right: 2px;" src="/images/profile/profile-<%=student.username%>.jpg" alt="">
            </div>
              <div class="row"  style="width: 100%;">
                <div class="col-sm-6"  style="width: 100%;display: flex;">
                  <div style="width: 100%;">
                    <strong class="d-block"><%=student.name%></strong>
                    <span class="d-block">Joined on <%=student.joinedOn%></span>
                  </div>
                  <div class=" d-block mr-2 btn-group" style=" text-align: right;">
                    <p style="margin-right: 8px;" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <strong><i class="fas fa-ellipsis-h"></i></strong>
                    </p>
                    <div class="dropdown-menu dropdown-menu-right">
                      <%if(batchOwner){%>
                        <form onsubmit="return deletePost(this);" class="inlineContainer " action="/deleteStudent/<%=batch._id%>/batch" method="POST">
                          <input type="hidden" name="studentUsername" value="<%=student.username%>" />
                          <input type="hidden" name="studentName" value="<%=student.name%>" />
                          <input type="hidden" name="joinedOn" value="<%=student.joinedOn%>" />
                          <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                          <button class="dropdown-item text-danger" type="submit" ><i class="fas fa-trash-alt "></i> Delete student</button>
                        </form>
                      <%}else{%>
                        <p class="dropdown-item text-primary" >For batch Owner</p>
                      <%}%>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 " style="margin: auto;">
                  <div class="float-btn" style="display: flex;">
                    <a href="/profile/<%=student.username%>">
                      <div class="btn btn-primary btn-sm mr-1">View profile</div>
                    </a>
                    <%if(student.username!=user.username){%>
                    <a href="/single-chat/<%=student.username%>">
                      <div class="btn btn-primary btn-sm "><i class="fas fa-comment"></i> Message</div>
                    </a>
                    <%}%>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <%})%>
      <%}%>
    </div>
  </div>
</div>
<div class="col-lg"></div>
</div>
<script>
  function deletePost() {
  return confirm('Do you really want to delete the student.');
  }
</script>


<%- include('includes/footer') %>

















