<div class=" mb-2">
  <h5 class="bolder">Your Message Rooms</h5>
  <div class="item-container" >
    <%if(!rooms.length){%>
      <span class="m-2">
        <p class="btn btn-primary btn-block">You have no message room.</p>
      </span>
    <%}%>
    <%rooms.forEach((room)=>{%>
      <%let active=false%>
      <%if(room.user1 != user.username){%>
        <%myActiveConnections.forEach((user)=>{%>
          <%if(user.username==room.user1){%>
           <% active=true%>
          <%}%>
        <%})%>
        <a href="/single-chat/<%=room.user1%>" style="text-decoration: none;">
          <div class="message-room" style="display: flex;">
            <div class="text-center" >
              <img class="avatar-small" style="top:12px ;margin-left: 0rem;margin-right: 2px;" src="/images/profile/profile-<%=room.user1%>.jpg" alt="">
              <%if(active){%>
              <span  class="badge active-signal" style="margin-left: -10px;margin-top: 34px;">.</span>
              <%}%>              
              
              <%if(room.user2unseen!=0){%>
                <span  class="badge badge-pill badge-success message-badge">
                  <%if(room.user2unseen<10){%>
                    <%=room.user2unseen%>
                  <%}else{%>
                    9+
                  <%}%>
                </span>
              <%}%>
            </div>
            <div class="message-room-container">
              <div style="display: flex;">
                <div style="width: 100%;">
                  <strong class="d-block"><%=room.user1name%></strong>
                </div>
                <div class="post-button">
                  <i class="d-block" style="color:#495057 ;"><%=room.messages[room.messages.length-1].sendDate.split(",")[0]%></i>
                  <!-- <span class="d-block">10:10am</span> -->
                </div>
              </div>
              <div>
                <span class="d-block"><strong><%=room.messages[room.messages.length-1].from==room.user1?" " : "You:"%> </strong><%=room.messages[room.messages.length-1].message.slice(0,40)%>...</span>  
              </div>
            </div>
          </div>
        </a>
      <%}%>
      <%if(room.user2!=user.username){%>
        <%myActiveConnections.forEach((user)=>{%>
          <%if(user.username==room.user2){%>
           <% active=true%>
          <%}%>
        <%})%>
        <a href="/single-chat/<%=room.user2%>" style="text-decoration: none;">
          <div class="message-room" style="display: flex;">
            <div class="text-center" >
              <img class="avatar-small" style="top:12px ;margin-left: 0rem;margin-right: 2px;" src="/images/profile/profile-<%=room.user2%>.jpg" alt="">
              <%if(active){%>
                <span  class="badge active-signal" style="margin-left: -10px;margin-top: 34px;">.</span>
                <%}%> 
              <%if(room.user1unseen!=0){%>
                <span  class="badge badge-pill badge-success message-badge">
                  <%if(room.user1unseen<10){%>
                    <%=room.user1unseen%>
                  <%}else{%>
                    9+
                  <%}%>
                </span>
              <%}%>
            </div>
            <div class="message-room-container">
              <div style="display: flex;">
                <div style="width: 100%;">
                  <strong class="d-block"><%=room.user2name%></strong>
                </div>
                <div class="post-button">
                  <i class="d-block" style="color:#495057 ;"><%=room.messages[room.messages.length-1].sendDate.split(",")[0]%></i>
                  <!-- <span class="d-block">10:10am</span> -->
                </div>
              </div>
              <div>
                <span class="d-block"><strong><%=room.messages[room.messages.length-1].from==room.user2?" " : "You:"%> </strong><%=room.messages[room.messages.length-1].message.slice(0,40)%>...</span>
              </div>
            </div>
          </div>
        </a>
      <%}%>
    <%})%>
    
  </div>
</div>