<div style="display: flex;flex-wrap: wrap;">
  <div class="col-lg notVisibleOnCollapse" >
  </div>
  <div class="col-lg-9 pt-1" >
    <div class="">
      <div style="width: 100%;position: relative;">
        <img class="cover-image" src="<%=profileHeaderData.coverPicLink%>" width="1000" height="250"/>
        <div class="text-center">
          <img class="profile-image" src="<%=profileHeaderData.profilePicLink%>" />
          <h5><strong>
            <%=profileHeaderData.name%>
            <%if(profileHeaderData.accountType=="teacher" || profileHeaderData.accountType=="studentTeacher"){%>
              <%if(profileHeaderData.varifiedAccount){%>
                <span class="text-primary" > <i class="fas fa-check-circle"></i></span>
              <%}else{%>
                <span class="text-danger"> <i class="fas fa-times-circle"></i></span>
              <%}%>
            <%}%>
            </strong></h5>
          <span>
            <span ><%=profileHeaderData.bioStatus%></span>
            <%if(profileHeaderData.isVisitorsProfile){%>
              <span type="button" class="d-block text-primary" data-toggle="modal" data-target="#exampleModalCenter">Edit</span>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Edit your bio-status</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/update-bio-status/<%=profileHeaderData.username%>" method="post">
                        <div class="form-group" style="text-align: left;">
                          <label for="status" class="text-muted" ><small>Edit status </small></label>
                          <input name="bioStatus" value="<%=profileHeaderData.bioStatus%>" id="status" class="form-control form-control-sm " type="text" placeholder="status" autocomplete="off" />
                        </div>
                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        <div style="text-align: left;">
                          <button class="btn btn-success btn-sm ">Submit</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <%}%>
            </span>
            <%if(profileHeaderData.accountType=="teacher" || profileHeaderData.accountType=="studentTeacher"){ %>  
            <div class="text-warning">
            <span class="d-block">
              <%rating=profileHeaderData.rating.averageRating%>
                <%- include('rating-stars') %>
              (<%=profileHeaderData.rating.averageRating%>)</span>
            <span class="d-block bolder">Reviews - <%=profileHeaderData.rating.givenNumber%></span>
          </div>
          <%}%>
        </div>
      </div>  
      <hr>
    </div>